* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

article {
  width: 90%;
  margin: auto;
  margin-bottom: 1%;
}

section {
  width: 80%;
  margin: auto;
  margin-top: 2%;
}

.titleHeader {
  font-family: Freestyle Script;
  font-size: 650%;
  color: #F8C8DC;
  text-shadow: 3px 3px 3px #F07089;
  font-weight: bold;
}

.HeaderNavContent {
  font-family: Batang;
  font-size: 450%;
  color: #664E4E;
  font-weight: lighter;
  background-image: linear-gradient(180deg, #F8C8DC, #E37383);
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}

.infoNav {
  list-style-type: " ♥";
}

.infoNav a {
  text-decoration: none;
  font-size: 40px;
  margin-bottom: 2%;
}

.headerSections {
  font-family: Batang;
  color: #4F4046;
  font-size: 250%;
  text-decoration: underline;
}

.listOfConcepts {
  margin: 2%;
}

.listOfConcepts>li {
  font-family: Calibri;
  font-size: 20px;
  margin: 1%;
}

.ulLiDeco>li {
  list-style-type: " ♥";
}

.upIconBox {
  position: relative;
  bottom: 0;
  height: 80%;
}

.pictureUpIcon {
  width: 10%;
  display: inline-block;
  position: sticky;
  position: -webkit-sticky;
  bottom: 50px;
  left: 150%;
  z-index: 2;
}
