* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{


  background-image: url("../../Bilder/patternBG.jpg");
  position: relative;
}

p {
  font-family: Calibri;
  font-size: 20px;
    color:#4F4046;
}

li {
  font-family: Calibri;
  font-size: 30px;
    color:#4F4046;

}

a {
  font-family: Calibri;
  font-size: 20px;
  color: #970830;
  font-weight: bold;
}

.mainHeader {
  color: #FFF5FC;
  font-family: Vladimir Script;
  display: flex;
  width: 100%;
  font-size: 300%;
  font-weight: lighter;
  height: 200px;
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: linear-gradient(to right, #F8C8DC, #E37383);
  margin-bottom: 3%;
  border-bottom: 3px solid #4F4046;
}

.linkLogo {
  width: 10%;
  display: inline-block;
  padding:0.5%;
}

.linkLogoPic {
  width: 100%;
}

.mainHeader>h1 {
  width: 90%;
  margin: auto;
  text-align: center;
  font-weight: lighter;
}

nav {
  width: 90vw;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5vw;
}

.navButton {
  background-image: linear-gradient(180deg, #F8C8DC, #E37383);
  text-align: center;
}

.navButton>a {
  font-size: 175%;
  font-family: Batang;
  padding: 2%;
  color: #4F4046;
  text-decoration: none;
}

.navButton>a:hover {
  text-decoration: underline;
  font-style: italic;
  color: white;
  transition: 0.2s;
}

main {
  width: 90%;
  margin: auto;
  margin-top: 2%;
  background-color: #FFE3E7;
  padding: 2%;
  border: 2px solid #4F4046;
  border-radius: 10px;
}

footer {
  margin-top: 2%;
  display: block;
  background-color: #FFC8D9;
  padding:2%;
  color:#4F4046;
}

footer >h5 {
  font-family: Vladimir Script;
  text-align: center;
  font-weight: lighter;
  font-size: 300%;
}
footer >p{

width:90%;
margin:auto;

}
